{% load static %}
<nav class="bg-gray-800 p-2 mt-0 w-full"> <!-- Add this line to your existing html file -->
    <div class="container mx-auto flex flex-wrap items-center">
        <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
            <a class="flex text-white no-underline hover:text-white hover:no-underline" href="/">
                <img src="{% static 'img/note-pad-logo.svg' %}" alt="Logo"
                     style="height: 30px; width: auto;">
                <span class="text-2xl pl-2"><i class="em em-grinning"></i>To-do app</span>
            </a>
        </div>
        <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
            <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                {% if user.is_authenticated %}
                    {% csrf_token %}
                    <li class="mr-3">
                        <a class="inline-block bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded no-underline"
                           href="{% url 'todo_lists' %}">Todo Lists</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded no-underline"
                           href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="mr-3">
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="inline-block bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded no-underline"
                                    type="submit">Logout
                            </button>
                        </form>
                    </li>

                {% else %}

                    <li class="mr-3">
                        <a class="inline-block bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded no-underline"
                           href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded no-underline"
                           href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>