<li x-data="{ timer: null, selected: false }"
    @click.away="selected = false"
    @mousedown="timer = setTimeout(() => { selected = true }, 500)"
    @touchstart="timer = setTimeout(() => { selected = true }, 500)"
    @mouseup="clearTimeout(timer)"
    @touchend="clearTimeout(timer)"
    class="flex justify-between border p-2 my-2 list-none dark:border-gray-600"
    :class="{
                            'shadow-lg': selected,
                            'grayscale': selected,
                            'bg-gray-100': selected,
                            'dark:bg-gray-700': selected,
                            'transition-colors': true,
                            'duration-300': true,
                            'ease-in-out': true,
                            'display: block;': selected
                            }"
>
    <form hx-post="{% url 'toggle_todo' list_id=todo_list.pk todo_id=task.pk %}"
          hx-target="#todos">
        {% csrf_token %}
        {% if task.status == "TODO" %}
            <button type="submit"
                    class="px-2 py-1 ml-2 rounded dark:bg-blue-500 bg-blue-500 text-white">
                Complete
            </button>
        {% else %}
            <button type="submit"
                    class="px-2 py-1 ml-2 rounded dark:bg-yellow-500 bg-yellow-500 text-white">
                Uncomplete
            </button>
        {% endif %}
    </form>
    <span>
        {{ task.title }}
    </span>
    <div x-cloak x-show="selected" style="position: fixed;">
        {% include 'todo/partials/edit_todo_task_modal.html' %}
    </div>
</li>