<div x-data="{ timer: null, showEditModal: false, selected: false }"
     x-init="$watch('showEditModal', new_value => {htmx.process(htmx.find('#edit-todo-modal'))})"
>
    <input type='hidden' name='todo_order' value='{{ task.pk }}'/>
    <div
            @click.away="selected = false"
            @mousedown="timer = setTimeout(() => { selected = true }, 100)"
            @touchstart="timer = setTimeout(() => { selected = true }, 100)"
            @mouseup="clearTimeout(timer)"
            @mouseup="selected = false"
            @touchend="clearTimeout(timer)"
            class="no-select flex justify-between border p-2 my-2 list-none dark:border-gray-600"
            :class="{
                                        'shadow-lg': selected,
                                        'grayscale': selected,
                                        'bg-gray-100': selected,
                                        'dark:bg-gray-700': selected,
                                        'transition-colors': true,
                                        'duration-300': true,
                                        'ease-in-out': true,
                                        'display: block;': selected
                                        }"
>
        <div>
            {% csrf_token %}
            {% if task.status == "TODO" %}
                <button id="complete-todo" type="button"
                        hx-post="{% url 'toggle_todo' list_id=todo_list.pk todo_id=task.pk %}" hx-target="#todos"
                        class="px-2 py-1 ml-2 rounded dark:bg-green-500 bg-green-500 text-white hover:dark:bg-green-600 hover:bg-green-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                        <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"></path>
                    </svg>
                </button>
                <button id="edit-todo" @click="showEditModal = true" type="button"
                        class="px-2 py-1 ml-2 rounded dark:bg-blue-500 bg-blue-500 text-white hover:dark:bg-blue-600 hover:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                    </svg>
                </button>
            {% else %}
                <button id="uncomplete-todo" type="button"
                        hx-post="{% url 'toggle_todo' list_id=todo_list.pk todo_id=task.pk %}" hx-target="#todos"
                        class="px-2 py-1 ml-2 rounded dark:bg-yellow-500 bg-yellow-500 text-white hover:dark:bg-yellow-600 hover:bg-yellow-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"></path>
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"></path>
                    </svg>
                </button>
                <button id="edit-todo" @click="showEditModal = true" type="button"
                        class="px-2 py-1 ml-2 rounded dark:bg-blue-500 bg-blue-500 text-white hover:dark:bg-blue-600 hover:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                    </svg>
                </button>
            {% endif %}
        </div>
        <span class="px-2 overflow-hidden text-ellipsis break-all">
            {{ task.title }}
        </span>
        <template x-if="showEditModal === true">
            {% include 'todo/partials/edit_todo_task_modal.html' %}
        </template>
    </div>
</div>

