<div id="todos">
    <div>
        <div x-cloak x-show="activeTab === 'todos'">
            <ul class="list-disc list-inside mb-4">
                {% for task in todo_list_items %}
                    {% if task.status == "TODO" %}
                        {% include 'todo/partials/todo.html' %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div x-cloak x-show="activeTab === 'completed'">
        <ul class="list-disc list-inside mb-4">
            {% for task in todo_list_items %}
                {% if task.status == "COMPLETE" %}
                    {% include 'todo/partials/todo.html' %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>